@using System.Configuration;

@model GCServices.ConsumerPortal.UI.Models.LocateAccountViewModel

@{
    ViewBag.Title = StringResources.LocateAccount_VBT;
    ViewBag.BackgroundClass = "background-image-index";
    ViewBag.HideLogout = true;

    bool noRecaptcha = false;
    bool.TryParse(ConfigurationManager.AppSettings["TurnOffRecaptcha"], out noRecaptcha);

    string recaptchaUrl = "https://www.google.com/recaptcha/api.js?render=" + ViewBag.SiteKey;
    string lang = (string)this.ViewContext.RouteData.Values["lang"];
    if (!string.IsNullOrEmpty(lang))
    {
        recaptchaUrl = "https://www.google.com/recaptcha/api.js?render=" + ViewBag.SiteKey + "&hl=" + lang;
    }
}

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div>
    <div class="mobile-only index-title text-center margin-top-20">@StringResources.LocateAccountMobil_Safe_txt</div>
</div>

<div class="index-container">
    <div class="index-title">@StringResources.Index_ConsumerPortal_div</div>

    <div class="locate-account-form-outer-container">
        <div class="index-form-inner-container">
            @using (Html.BeginForm("LocateAccount", "Home", new { ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", @class = "index-form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <div>
                        @StringResources.LocateAccount_NotFound_txt
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="recaptcha-width">
                            @Html.TextBoxFor(m => m.AccountNumber, new { @class = "form-control", placeholder = StringResources.LocateAccount_EnterAccountNumber_txt, autocomplete = "off", maxlength = "25" })
                        </div>
                        <span class="help-icon-right">
                            <i class="material-icons" data-toggle="tooltip" data-html="true" data-placement="top" title="<div>@StringResources.LocateAccount_OriginalGCNumber_txt</div>">help</i>
                        </span>
                    </div>
                    <div>
                        @Html.ValidationMessageFor(m => m.AccountNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="recaptcha-width">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = StringResources.LocateAccount_EnterLastName_txt, autocomplete = "off", maxlength = "100" })
                        </div>
                        <span class="help-icon-right">
                            <i class="material-icons" data-toggle="tooltip" data-html="true" data-placement="top" title="<div>@StringResources.LocateAccount_PleaseuseLastName_txt</div>">help</i>
                        </span>
                    </div>
                    <div>
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.HiddenFor(m => m.LeftNumber)
                @Html.HiddenFor(m => m.RightNumber)

                if (Model != null && Model.LeftNumber.HasValue && Model.RightNumber.HasValue)
                {
                    <div class="form-group recaptcha-width">
                        <div>
                            <label>@StringResources.Recaptcha_LowScoreQuestion_label</label>
                        </div>
                        <div>
                            <label>@Model.LeftNumber + @Model.RightNumber = </label>
                            @Html.TextBoxFor(m => m.Sum, new { @class = "form-control sum-input", type = "number", autocomplete = "off", maxlength = 2 })
                        </div>
                    </div>
                }

                <div class="form-group recaptcha-width">
                    <div class="index-submit-button">
                        <input name="SubmitButton" type="submit" value="@StringResources.Index_Submit_button" class="btn btn-primary btn-ok" />
                    </div>
                    <div class="loader hidden" id="spinner"></div>
                </div>
            }

        </div>
    </div>
</div>

@if (!string.IsNullOrEmpty(ViewBag.GCAccountNumber) && (ViewBag.CardPaymentNotAllowedForGCPayOnline == null || ViewBag.CardPaymentNotAllowedForGCPayOnline == false))
{
    <div class="modal fade" id="myModal" data-show="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">@StringResources.LocateAccount_Dialog_Title</h2>
                    @*<h5 class="modal-title">GC Account Number</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>*@
                </div>
                <div class="modal-body">
                    <div class="large-dialog-text">@StringResources.LocateAccount_YourGCNumber_txt @ViewBag.GCAccountNumber.</div>
                    <div class="large-dialog-text">@StringResources.LocateAccount_PleaseRecord_txt</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" onclick="location.href = '@Url.Content(@ViewBag.RedirectUrl)'">@StringResources.LocateAccount_Continue_button</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @if (!noRecaptcha)
    {
        <script src="@recaptchaUrl"></script>
        <script>
            var sitekey = '@ViewBag.SiteKey';
            var siteAction = 'locateaccount';
        </script>
        <script src="~/Scripts/App/Recaptcha.js"></script>
    }

    @if (!string.IsNullOrEmpty(ViewBag.GCAccountNumber) && (ViewBag.CardPaymentNotAllowedForGCPayOnline == null || ViewBag.CardPaymentNotAllowedForGCPayOnline == false))
    {
        <script>
            $(function () {
                $('#myModal').modal({
                    show: true
                });
            });
        </script>
    }
    else if (ViewBag.AccountNotFound == true || ViewBag.CardPaymentNotAllowedForGCPayOnline == true)
    {
        <script>
            $(function () {
                $('#contactUsModal').modal({
                    show: true
                });
            });
        </script>
    }

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        $("body").show();

        $("form").submit(function () {
            $(":submit").prop('disabled', 'disabled');
            $("#spinner").removeClass("hidden");
        });
    </script>
}
