@model GCServices.ConsumerPortal.UI.Models.SettlementOfferViewModel

@{
    ViewBag.Title = StringResources.SettlementOffer_Title;
    ViewBag.BackgroundClass = "background-image-user-agreement";
    WebGrid grid = null;
    bool hasScheduledSettlementPayments = Model.ScheduledSettlementPayments != null && Model.ScheduledSettlementPayments.Count > 0;
    if (hasScheduledSettlementPayments)
    {
        grid = new WebGrid(Model.ScheduledSettlementPayments, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent", rowsPerPage: 5000);
    }
}

<div>
    <div>
        <h1 class="left-title">@ViewBag.Title</h1>
    </div>

    <div class="view-content-container">
        <div class="gray-box">
            <div class="row">
                <div class="col-sm-9 col-xs-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>@StringResources.PaymentRequest_Welcome_txt @Html.DisplayFor(m => m.Name)</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 align-dynamic">
                    <h4>@Html.DisplayFor(m => m.GcNumber)</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <a href='@Url.Action("ManageMyAccount", "Home")' class="btn btn-primary btn-ok">@StringResources.MakeAPayment_cshtml_Execute_Manage_My_Account</a>
                </div>
                <div class="col-sm-6  col-xs-12 align-dynamic">
                    <h4><b>@Html.LabelFor(m => m.AmountDue): @Html.DisplayFor(m => m.AmountDue)</b></h4>
                </div>
            </div>
        </div>

        <div>
            @if (hasScheduledSettlementPayments)
            {

                <section>
                    @using (Html.BeginForm("NewSchedule", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "newScheduleForm", name = "newScheduleForm" }))
                    {
                        @Html.AntiForgeryToken()

                        if (Model.ScheduledSettlementPayments != null && Model.ScheduledSettlementPayments.Count > 0)
                        {
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="col-xs-12 input-group-title">
                                        @StringResources.SettlementOffer_Label
                                    </div>

                                    <div class="col-sm-12">
                                        <div>
                                            @grid.GetHtml(htmlAttributes: new { id = "NewPaymentScheduleTable" },
                                            tableStyle: "webGrid table schedule-table",
                                            headerStyle: "header",
                                            alternatingRowStyle: "alt",
                                            selectedRowStyle: "select",
                                            columns: grid.Columns(
    grid.Column(null, null, @<text><input type="hidden" id="AgencyTrackingId" value="" /></text>, style: "Zero"),
grid.Column("PaymentDate", StringResources.NewSchedule_PaymentSchedulePaymentDate_gridcol, @<text><span class="display-mode"><label id="lblPaymentDate">@item.PaymentDate.ToString("MM/dd/yyyy")</label></span>
    <input type="text" readonly name="PaymentDate" value="@item.PaymentDate.ToString("d")" class="edit-mode datepick form-control" /></text>, style: "Large"),
grid.Column("PaymentAmount", StringResources.NewSchedule_PaymentSchedulePaymentAmount_gridcol, @<text><span class="display-mode"><label id="lblPaymentAmount">@item.PaymentAmount.ToString("C2")</label></span>
    <input type="text" id="PaymentAmount" value="@item.PaymentAmount" class="edit-mode form-control" maxlength=7 oninput="onAmountInput(this)" /></text>, style: "Large")
))
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="form-group">
                            <div class="margin-top-10 margin-left-20">
                                <div class="font-weight-bold">@StringResources.SettlementOffer_Total_Settlement: @Html.DisplayFor(m => m.SettlementAmount)</div>
                            </div>
                            <div class="margin-top-10">
                                <span class="margin-left-20">@StringResources.SettlementOffer_Accept_Question</span>
                                @*<span class="btn btn-primary btn-ok" data-toggle="modal" data-target="#acceptYesModal">Yes</span>*@
                                <span>@Html.ActionLink(StringResources.Text_Yes, "SettlementOfferCheck", new { }, new { @class = "btn btn-primary btn-ok" })</span>
                                <span class="btn btn-cancel" data-toggle="modal" data-target="#acceptNoModal">No</span>
                            </div>
                        </div>
                    }
                </section>
            }
            else
            {
                <div>
                    <div class="margin-top-10">
                        <div class="font-weight-bold">@StringResources.SettlementOffer_Label: <span class="text-red">@Html.DisplayFor(m => m.SettlementAmount)</span></div>
                        <div class="font-weight-bold">@StringResources.SettlementOffer_DueDate: @DateTime.Today.ToString("MM/dd/yyyy", System.Globalization.CultureInfo.InvariantCulture)</div>
                    </div>
                    <div class="margin-top-10">
                        <span>@StringResources.SettlementOffer_Accept_Question</span>
                        @*<span class="btn btn-primary btn-ok" data-toggle="modal" data-target="#acceptYesModal">@StringResources.Text_Yes</span>*@
                        <span>@Html.ActionLink(StringResources.Text_Yes, "SettlementOfferCheck", new { }, new { @class = "btn btn-primary btn-ok" })</span>
                        <span class="btn btn-cancel" data-toggle="modal" data-target="#acceptNoModal">@StringResources.Text_No</span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@Html.Partial("SettlementOfferDialogs")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    @if (hasScheduledSettlementPayments)
    {
        <script src="~/Scripts/App/Common.js"></script>
        <script src="~/Scripts/App/SettlementOffer.js"></script>
    }
    <script src="~/Scripts/App/ShowContent.js"></script>
}
